@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Black.ttf') format('ttf');
}









/************   Accueil   *************/
.content{
    display: flex;
    flex-direction: row;
    margin-top: calc(clamp(125px, 25vh, 149px) - 100px);
}
/************   End Accueil   *************/














/************   NavBar   *************/
.bg{
    min-height: 100vh;

    margin: 0;
    padding: 0;

    background-color: #171F2E;

    overflow: hidden;

    position: relative;
}
.bg > .bottomGradient{
    position: fixed;
    width: 50%;
    height: 50%;
    right: 0;
    bottom: 0;

    transform: translate(50%, 50%);

    background: linear-gradient(51.06deg, rgba(25, 166, 219, 0.25) 0.87%, rgba(146, 89, 247, 0.25) 7.31%, rgba(142, 93, 246, 0.25) 13.75%, rgba(136, 98, 245, 0.25) 20.19%, rgba(128, 107, 244, 0.25) 26.63%, rgba(117, 117, 242, 0.25) 33.07%, rgba(104, 130, 240, 0.25) 39.51%, rgba(89, 144, 238, 0.25) 45.95%, rgba(74, 159, 235, 0.25) 52.39%, rgba(59, 173, 233, 0.25) 58.84%, rgba(46, 186, 231, 0.25) 65.28%, rgba(35, 196, 229, 0.25) 71.72%, rgba(27, 205, 228, 0.25) 78.16%, rgba(21, 210, 227, 0.25) 84.6%, rgba(17, 214, 226, 0.25) 91.04%, rgba(16, 215, 226, 0.25) 97.48%);
    mix-blend-mode: normal;
    filter: blur(109px);
}

header.navBar{
    background: rgba(253, 249, 249, 0.53);
    background-blend-mode: luminosity;
    box-shadow: 8px 10px 42px rgba(0, 0, 0, 0.42);

    border-style: none;
    border-radius: 50px;
    
    margin-top: 36px;
    margin-right: 61px;
    margin-left: 61px;

    padding-right: 25px;
    padding-left: 25px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header.navBar > .logo{
    height: 52px;
    margin-top: 7px;
    margin-bottom: 7px;
}
header.navBar > .searchBar{
    position: relative;
    height: 36px;
    width: 25vw;
    min-width: 150px;
}
header.navBar > .searchBar::after {
    content: '';

    position: absolute;
    left: 12px;
    top: 9px;

    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../img/search.svg');
    background-position: center;
    background-size: cover;
}
header.navBar > .searchBar > input{
    width: 100%;
    height: 100%;

    background: rgba(250, 250, 250, 0.93);

    border-style: none;
    border-radius: 10px;

    padding-left: 40px;
}

header.navBar > .right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: min(24px, 1.5vw);
    margin-left: 5px;
}
header.navBar > .right .username{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: min(3vw, 25px);
    text-align: center;
    /* line-height: 45px; */

    color: #FFFFFF;
}
header.navBar > .right .userImg{
    width: 50px;
    aspect-ratio: 1;

    border-radius: 50%;
}
header.navBar > .right .notifIcon{
    height: 20px;
}

/************   End NavBar   *************/













/************   Aside   *************/

aside.sideBar{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    /* position: absolute; */
    width: 89px;
    height: calc(100vh - 200px);
    min-height: 229px;
    /* left: 61px; */
    /* top: clamp(125px, 25vh, 149px); */

    /*new*/
    /* margin-right: 61px; */
    margin-left: 61px;
    /*end new*/

    background: #FFFFFF;
    border-radius: 12px;
}
aside.sideBar > .top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    text-align: center;
}
aside.sideBar > .top > .title{
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    line-height: 12px;
    font-weight: 500;
    color: #757575;
}

aside.sideBar > .bottom > .logoutImg{
    height: 25px;
}

/************   End Aside   *************/



/************   Main   *************/
main{
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    gap: 17px;
    overflow-x: hidden;
    overflow-y: scroll;
}
main::-webkit-scrollbar {
    width: 4px;
}

main::-webkit-scrollbar-track {
    background-color: #a7a7a7;
}

main::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
}
.received{
    display: flex;
    justify-content: center;
}
.received > .message{
    width: fit-content;
    max-width: 45vw;
    background-color: #ffffff;
    
    padding: 20px 20px 10px 20px;
    
    margin-top: 10px;
    
    border-radius: 0px 5px 5px 5px;
    position: relative;
}
.received > .message::after{
    content: "";
    width: 0px;
    height: 0px;
    
    border-top: 12px solid #ffffff;
    border-bottom: 12px solid transparent;
    border-right: 8px solid #ffffff;
    border-left: 8px solid transparent;

    border-top-left-radius: 3px;

    position: absolute;
    top: 0;
    left: -8px;
}
.received > .message > .sender{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #19A6DB;
}
/************   End Main   *************/