@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Black.ttf') format('ttf');
}









/************   Accueil   *************/
.content{
    display: flex;
    flex-direction: row;
    margin-top: calc(clamp(125px, 25vh, 149px) - 100px);
}
/************   End Accueil   *************/














/************   NavBar   *************/
.bg{
    min-height: 100vh;

    margin: 0;
    padding: 0;

    background-color: #171F2E;

    overflow: hidden;

    position: relative;
}
.bg > .bottomGradient{
    position: fixed;
    width: 50%;
    height: 50%;
    right: 0;
    bottom: 0;

    transform: translate(50%, 50%);

    background: linear-gradient(51.06deg, rgba(25, 166, 219, 0.25) 0.87%, rgba(146, 89, 247, 0.25) 7.31%, rgba(142, 93, 246, 0.25) 13.75%, rgba(136, 98, 245, 0.25) 20.19%, rgba(128, 107, 244, 0.25) 26.63%, rgba(117, 117, 242, 0.25) 33.07%, rgba(104, 130, 240, 0.25) 39.51%, rgba(89, 144, 238, 0.25) 45.95%, rgba(74, 159, 235, 0.25) 52.39%, rgba(59, 173, 233, 0.25) 58.84%, rgba(46, 186, 231, 0.25) 65.28%, rgba(35, 196, 229, 0.25) 71.72%, rgba(27, 205, 228, 0.25) 78.16%, rgba(21, 210, 227, 0.25) 84.6%, rgba(17, 214, 226, 0.25) 91.04%, rgba(16, 215, 226, 0.25) 97.48%);
    mix-blend-mode: normal;
    filter: blur(109px);
}

header.navBar{
    background: rgba(253, 249, 249, 0.53);
    background-blend-mode: luminosity;
    box-shadow: 8px 10px 42px rgba(0, 0, 0, 0.42);

    border-style: none;
    border-radius: 50px;
    
    margin-top: 36px;
    margin-right: 61px;
    margin-left: 61px;

    padding-right: 25px;
    padding-left: 25px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header.navBar > .logo{
    height: 52px;
    margin-top: 7px;
    margin-bottom: 7px;
}
header.navBar > .searchBar{
    position: relative;
    height: 36px;
    width: 25vw;
    min-width: 150px;
}
header.navBar > .searchBar::after {
    content: '';

    position: absolute;
    left: 12px;
    top: 9px;

    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../img/search.svg');
    background-position: center;
    background-size: cover;
}
header.navBar > .searchBar > input{
    width: 100%;
    height: 100%;

    background: rgba(250, 250, 250, 0.93);

    border-style: none;
    border-radius: 10px;

    padding-left: 40px;
}

header.navBar > .right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: min(24px, 1.5vw);
    margin-left: 5px;
}
header.navBar > .right .username{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: min(3vw, 25px);
    text-align: center;
    /* line-height: 45px; */

    color: #FFFFFF;
}
header.navBar > .right .userImg{
    width: 50px;
    aspect-ratio: 1;

    border-radius: 50%;
}
header.navBar > .right .notifIcon{
    height: 20px;
}

/************   End NavBar   *************/













/************   Aside   *************/

aside.sideBar{
    position: relative;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; /* was center */
    padding: 20px;

    /* position: absolute; */
    /* --side-nav-width: 0px;
    width: calc(89px + var(--side-nav-width)); */
    width: 89px;
    min-width: 89px;
    transition: width .5s ease, min-width .5s ease;
    height: calc(100vh - 200px);
    min-height: 229px;
    /* left: 61px; */
    /* top: clamp(125px, 25vh, 149px); */

    /*new*/
    /* margin-right: 61px; */
    margin-left: 61px;
    /*end new*/

    background: #FFFFFF;
    border-radius: 12px;
}
aside.sideBar > .top{
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* was center */
    gap: 8px;

    text-align: center;

    overflow: hidden;

    max-width: 110%;
}
aside.sideBar > .top > .title{
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    line-height: 12px;
    font-weight: 500;
    color: #757575;

    margin-left: 10.5px;
}

aside.sideBar > .bottom{
    overflow: hidden;
}
aside.sideBar > .bottom > .logoutImg{
    height: 25px;
    margin-left: 15px;
}


aside.sideBar > .expandBtn{
    box-sizing: border-box;
    position: absolute;
    width: 28px;
    height: 28px;
    right: -14px;
    top: 34px;

    background: #FFFFFF;
    border: 1px solid #F6F6F6;
    box-shadow: 0px 0px 10px #171f2e48;
    border-radius: 8px;

    font-weight: 900;

    /* --arrow-btn-direction: 1;
    transform: scaleX(var(--arrow-btn-direction)); */
    transform: scaleX(1);
    transition: transform 0.17s ease;
}
aside.sideBar[data-expanded=true]{
    width: 200px;
    min-width: 200px;
}
aside.sideBar[data-expanded=true] > .expandBtn{
    transform: scaleX(-1);
}


/*Comite Aside*/
aside.sideBar .comiteInfo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
aside.sideBar .comiteInfo > .chefImg{
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
}
aside.sideBar .comiteInfo > .info{
    display: block;
    width: 86px;
}

aside.sideBar .divider{
    width: 49px;
    height: 2px;
    background: #F6F6F6;
    border-radius: 2px;
    transition: width .5s ease;
}

aside.sideBar[data-expanded=true] .divider{
    width: 160px;
}



/************   End Aside   *************/



/************   Main   *************/
main{
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin: 0px 15px;
    overflow-x: hidden;
    overflow-y: scroll;
}
main::-webkit-scrollbar {
    width: 4px;
}

main::-webkit-scrollbar-track {
    background-color: #a7a7a7;
}

main::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
}


main > .messageInput{
    position: relative;
    width: fit-content;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}
main > .messageInput > input,
main > .messageInput > textarea{
    width: fit-content;
    width: calc(45vw - 110px);
    border-radius: 5px;

    padding: 25px 95px 25px 50px; /* padding: 25px 50px; */
    /* background-color: #eeeded; */
    background: #FFFFFF;
    border: 1px solid #F1F1F5;
    box-shadow: 0px 4px 25px rgba(196, 203, 216, 0.25);

    outline: none !important;
}
main > .messageInput > textarea{
    padding: 25px 100px 10px 50px;
    min-height: 30px;
    max-height: 100px;
    resize: vertical;
}
main > .messageInput::before {
    content: '';

    position: absolute;
    left: 17px;
    top: 24px;

    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../img/pen.svg');
    background-position: center;
    background-size: cover;
}
main > .messageInput > span.highlighter {
    position: absolute;
    left: 50px;
    bottom: 10px;

    display: inline-block;
    width: 0;
    height: 2px;
    background-color: #696969;

    transition: width 0.3s ease;
  }
  
main > .messageInput > input:focus + span.highlighter,
main > .messageInput > textarea:focus + span.highlighter{
    width: calc(100% - 150px);
}

main > .messageInput > .postBtn{
    position: absolute;
    width: 60px;
    height: 37px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    background: #19A6DB;
    border-radius: 8px;
    border: none;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}


/*
.received{
    display: flex;
    justify-content: center;
}
.received > .message{
    width: fit-content;
    max-width: 45vw;
    background-color: #ffffff;
    
    padding: 20px 20px 10px 20px;
    
    margin-top: 10px;
    
    border-radius: 0px 5px 5px 5px;
    position: relative;
}
.received > .message::after{
    content: "";
    width: 0px;
    height: 0px;
    
    border-top: 12px solid #ffffff;
    border-bottom: 12px solid transparent;
    border-right: 8px solid #ffffff;
    border-left: 8px solid transparent;

    border-top-left-radius: 3px;

    position: absolute;
    top: 0;
    left: -8px;
}
.received > .message > .sender{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #19A6DB;
}*/


.sent,
.received{
    display: flex;
    justify-content: center;
}
.sent > .message,
.received > .message{
    width: fit-content;
    /* max-width: 45vw; */
    width: 45vw;
    border-radius: 5px;

    padding: 20px 20px 10px 20px;
}
.sent > .message{
    background-color: #D9D9D9;
}
.received > .message{
    background-color: #ffffff;
}
/*first*/
.received + .sent > .message,
.sent:first-child > .message{
    margin-top: 10px;
    border-top-right-radius: 0px;
    position: relative;
}
.received + .sent > .message::after,
.sent:first-child > .message::after{
    content: "";
    width: 0px;
    height: 0px;
    
    border-top: 12px solid #D9D9D9;
    border-bottom: 12px solid transparent;
    border-left: 8px solid #D9D9D9;
    border-right: 8px solid transparent;

    border-top-right-radius: 3px;

    position: absolute;
    top: 0;
    right: -8px;
}
    /*first*/
.sent + .received > .message,
.received:first-child > .message{
    margin-top: 10px;
    border-top-left-radius: 0px;
    position: relative;
}
.sent + .received > .message::after,
.received:first-child > .message::after{
    content: "";
    width: 0px;
    height: 0px;
    
    border-top: 12px solid #ffffff;
    border-bottom: 12px solid transparent;
    border-right: 8px solid #ffffff;
    border-left: 8px solid transparent;

    border-top-left-radius: 3px;

    position: absolute;
    top: 0;
    left: -8px;
}
.received > .message > .sender,
.sent > .message > .sender{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #19A6DB;
}
.received + .received,
.sent + .sent{
    margin-top: -10px;
}
.received + .received > .message,
.sent + .sent > .message{
    padding: 10px 20px;
}
.received + .received > .message > .sender,
.sent + .sent > .message > .sender{
    display: none;
}

br.sent.sep{
    display: none;
}
/************   End Main   *************/